.player {
  margin-top: 10px;
}

.explainer {
  width: 1000px;
}

.timer {
  float: left;
}

.actions {
  float: right;
}

@media (max-width: 768px) {
  .player {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
  }

  .navbar {
    width: 50vw;
  }

  .navFooter {
    margin-top: 60vh;
  }

  .gridFooter {
    width: 100vw;
  }
  .explainer {
    width: 100vw;
  }
}
