.player {
  margin-top: 60px;
}

.actionButtons {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 5px;
}

.timer {
  float: left;
}

.actions {
  float: right;
}

@media (max-width: 800px) {
  .player {
    margin-top: 0;
  }

  .navbar {
    width: 50vw;
  }

  .navFooter {
    margin-top: 60vh;
  }

  .gridFooter {
    width: 100vw;
  }
}
