.input-digitboard {
  width: 80%;
}

.topActionBar {
  background-color: var(--vm-background-color);
}

.controlButton {
  background-color: var(--vm-background-color);
}

.gridFooter {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
